* {
    box-sizing: border-box;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #e9e9ff;
    font-family:'Arial';
}
svg {
    position: absolute;
    height: 100%;
    width: 90%;
    max-width: 900px;
    background: whitesmoke;
    box-shadow: 0px 0px 5px 5px gray;
}
.dot {
    cursor: pointer;
}
#tooltip {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
@media only screen and (max-width: 600px) {
    footer {
        position: relative;
        top: 200px;
        text-align: center;
        font-size: 10px;
        z-index: 10;
    }
    #gmail {
        text-decoration: none;
        color: #7e7eeb;
        cursor: pointer;
    }
}
@media only screen and (min-width: 601px) {
    footer {
        position: relative;
        top: 240px;
        text-align: center;
        font-size: 12px;
        z-index: 10;
    }
    #gmail {
        text-decoration: none;
        color: #7e7eeb;
        cursor: pointer;
    }
}

